<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>

    <div id="create_ticket">
        <h2>Créer un ticket</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p>
                <label>Titre :</label>
                {{ form.title }}
            </p>
            {{ form.title.errors }}
            <p>
                <label>Description :</label>
                {{ form.description }}
            </p>
            {{ form.description.errors }}
            <p>
                <label>image :</label>
                {{ form.image }}
            </p>
            {{ form.image.errors }}
            <button type="submit">Envoyer</button>
        </form>
    </div>


</body>
</html>