<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="connexion">
    <h2>Connectez-vous</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            <label>Nom d'utilisateur :</label>
            {{ form.username }}
            {{ form.username.errors }}
        </p>

        <p>
            <label>Mot de passe :</label>
            {{ form.password }}
            {{ form.password.errors }}
        </p>

        <button type="submit">Se connecter</button>
    </form>
    </div>
    <div id="signin">
        <p>Inscrivez-vous maintenant <a href="{% url 'signup' %}">S'inscrire</a></p>
    </div>
</body>
</html>